.section{
    display: grid;
    grid-template-columns: 250px 1000px;
}
.section1{
    background-color:#12171D;
   color: white;
   padding-bottom: 120px;
}
.first-section1{
    padding: 30px 60px;
}
.profile-picture{
    margin-left: 10px;
}
.name{
    font-weight: bold;
    font-size: 18px;
}
i{
    margin: 0px 10px 0px 0px;
}
/* .story-image{
    margin-top: 40px;
} */
.stories{
    margin-top: -40px;
    margin-left: 40px;
}
.text{
    margin-top: 60px;
}
.section2{
    background-color: white;
    height:300px;
   margin-left: 70px;
}
.first-section2{
    display: grid;
    grid-template-columns: 250px 300px 350px;
    border: 1px solid #AAAAAA;
    padding: 30px;
}
.first-first-section2{
    padding: 0px 50px;
}
.first-second-section2{
    margin-top: 40px;
    padding: 0px 40px;
    border-right: 1px dashed #C4C4C4;
    border-left: 1px dashed #C4C4C4;
}
.first-third-section2{
    padding: 0px 50px;
}
.btn{
    margin-left: 140px;
    background-color: #fff;
    color: #39D39F;
    padding: 5px 20px  ;
    border: 1px  #39D39F solid;
    border-radius: 3px;
}
.blue{
    color: #034D79;
}
.second-section2{
    border: 1px solid #AAAAAA;
    padding: 10px;
    margin-top: 50px;
}
.second-section2-1{
    display: grid;
    grid-template-columns: 100px auto;
   padding-top: 10px;  
}
.picture{
    height: 50px;
    width: 50px;
    margin-left: 30px;
}
.second-section2-1-2{
    border: 1px solid #AAAAAA;
    color: #AAAAAA;
    padding-left: 20px;
}
.second-section2-2{
    margin-left: 100px;
    margin-top: 10px;
    padding-bottom:10px;
}
.upload{
    color: #AAAAAA;
}
.third-section2-1{
    display: grid;
    grid-template-columns: 120px auto;
    border: 1px solid #AAAAAA;
    margin-top: 20px;
}
.news{
    font-weight: bold;
    color: #212121;
}
.last-picture{
    margin-left: 20px;
    margin-top: 20px;
}